<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


<div class="container-fluid">
    <div class="container wrapper" >
        <div class="row full-height">
            <div class="bordered col align-self-center"></div>
            <div class="article">
                <h2>Quem Somos?</h2>
                <p>A Contra o Femicídio é uma associação não-governamental criada em dezembro de
                    2018, no contexto da violência contra as mulheres com base no género e violência
                    doméstica.<br>
                    O surgimento desta associação, que pretende ser ativa na prevenção e no combate ao
                    femicídio, resulta do reconhecimento de que a violência com base no género, mais
                    especificamente a violência dos homens contra as mulheres, constitui uma grave
                    violação de Direitos Humanos e que causa, muitas vezes, mortes de mulheres,
                    crianças, amigas/os e profissionais.<br>
                    
                    É neste contexto, que adotamos como objeto/missão o apoio às famílias envolvidas
                    em situações de violência contra as mulheres baseada no género, que resultam em
                    homicídio das mesmas ou morte posterior resultante de agressões e/ou homicídio de
                    vítimas colaterais, de forma a ultrapassarem o processo do luto e a retomarem o
                    controlo das suas vidas.<br>
                </p>
            </div>
            <div class="bordered col align-self-center"></div>
        </div>
    </div>
</div>