<div class="page">
  <div class="showcase-parent">
    <img class="showcase" src="../assets/Images/Logo-full.png" >
  </div>
  <div class="card-deck">
  <div class="card text-center">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE-nAdekCDolJuB6T5PIkkaevu710yXRu8sg&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Contactos</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE-nAdekCDolJuB6T5PIkkaevu710yXRu8sg&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Templates</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE-nAdekCDolJuB6T5PIkkaevu710yXRu8sg&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Links Uteis</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
    </div>
  </div>
  <div>
    <img src="../../assets/Images/DV_ex.jpg">
    <img src="../assets/Images/Page1_ex.jpg">
    <img src="../assets/Images/page2_ex.jpg">
  </div>
</div>
